body {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./macbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin: 0;

}

.left {

    background-color: rgb(181, 181, 181);
    opacity: 0.1;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    border-radius: 100px;

}

.right {

    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    


}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.border-form {
    background-color: rgb(154, 154, 154);
    opacity: 0.8;
    width: 600px;
    border-radius: 15px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apple-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.423);
}

.apple-logo {
    width: 20px;
}

.fcb-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.423);
}

.fcb-logo {
    width: 20px;
    padding: 0;
}

.inst-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.423);
}

.inst-logo {
    width: 20px;
    padding: 0;
}

.scl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.user-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.user-data input {
    margin: 0.5rem
}

.user-data label[for="email1"],input[type="text"],select[id="email"] {
    margin-top: 40px;
}

.login-btn {
    width: 100px;
}
