body {
    display: flex;
    margin: 0;

}

.left {

    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)), url(./background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;

}

.right {

    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    background-color: #9eeaff;
    


}

h1 {
    text-align: center;
    margin-top: 10rem;
    color: rgb(93, 93, 93);
}

.border-form {
    background-color: rgba(12, 24, 58, 0.1)
}

.apple-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.423);
}

.apple-logo {
    width: 20px;
}

.fcb-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.423);
}

.fcb-logo {
    width: 20px;
    padding: 0;
}

.inst-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.423);
}

.inst-logo {
    width: 20px;
    padding: 0;
}

.scl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.user-data {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.labelid {
    display: block;
}