body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.left {
  background-color: rgb(52, 75, 125);
  width: 50%;
  height: 100%;
  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

.right {
  width: 50%;
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 10rem;
  background-color: rgb(167, 191, 243);
  border-radius: 10px;
}

.social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.btn-fb {
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
}

.btn-ig {
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="email"] {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.btn-login {
  width: 5rem;
  height: 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.login-header {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;

}

.remember-me {
  display: flex;
  align-items: start;
  margin-top: 1rem;
  margin-top: 10px;

}